
/* default */
body {
    margin: 0;
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" ;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    padding-top: 162.333px; 
    scroll-behavior: smooth;
}

*, ::after, ::before {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #212529;
}
ul{
    list-style-type: none;
}
ul, p{
    margin: 0;
    padding: 0;
}
._flex{
    display: flex;
}

._flexflow{
    flex-flow: row wrap;
}

._flex-direction-column{
    flex-direction: column;
}

._space-between{
    justify-content: space-between;
}

._space-around{
    justify-content: space-around;
}
._center{
    align-items: center;
}
._end{
    align-items: end;
}

/*dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*.dropdown*/

/* nav */
/* .nav */

/* menu */
#id-nav-top, header,nav, a, li, img{
    transition: all 1s;
    -moz-transition: all 1s; /* Firefox 4 */
    -webkit-transition: all 1s; /* Safari and Chrome */
    -o-transition: all 1s; /* Opera */
}
.menu-mobile{
    display: none;
}
.nav-top{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1090;
    background-color: rgba(255, 255, 255, 0.8); 
} 
#logo img{
    width: 190px;
}
.nav-top.large{
    height: 162.333px;
}
/* small menu */
.nav-top.small h1 {
    margin: 4px 10px;
}
.nav-top.small{
    height: 80.333px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.nav-top.small img {
    width: 116.667px !important;
}

.menu-top-item{
    margin-left: 20px;
    display: inline;
}

.menu-ativo > a, .menu-top-item a:hover{
    color: #FF7518;
}

.menu-top-item a{
    text-transform: uppercase;
}

#btn-call-menu-mobile{
    display: none;       
}

.search-item .form-search{
    display: none;
}
.search-item svg{
    cursor: pointer;
}
/* .menu */

/* breadcrumb */
.breadcrumb{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;
}
.breadcrumb-item{
    text-transform: capitalize;
}
.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #6c757d;
    content: "/";
}
.breadcrumb-item.active {
    color: #FF7518;
}
/* .breadcrumb */

/* banner */

.banner-video {
    height: 60vh;
    overflow: hidden;
    position: relative
}

.banner-video .protected-play {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
}

.banner-video #player{
    margin-top: -12%
}
/*;banner*/

/*slider*/
.slider-destaques{
    overflow: hidden;
}
.slider-destaques img{
    width: 100%;
}

/*categoria*/
#categoria{
    padding-top: 100px;
}

#categoria h3{
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    text-transform: uppercase;
    color: #ff0000;
}

.categoria .categoria-item{
    width: 25%;
    height: 350px;
    overflow: hidden;
}
.info-departamento{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.info-departamento:hover{
    transform: scale(1.2);
}
.titulo-departamento{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
}
.titulo-departamento:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.titulo-departamento:hover h5{
    font-size: 50px;
    color: transparent;
    text-transform: uppercase;
}
.info-departamento:hover h5{
    color: #fff;
}
    /*transition: all 0.2s;
    -moz-transition: all 0.2s; /* Firefox 4 *
    -webkit-transition: all 0.2s; /* Safari and Chrome *
    -o-transition: all 0.2s; /* Opera *
} */

.info-departamento.sofa-laranja{
    background-image: url('../image/furniture/sofa-laranja.png');
}
.info-departamento.bed{
    background-image: url('../image/furniture/bed.png');
}
.info-departamento.box{
    background-image: url('../image/furniture/box.png');
}
.info-departamento.chair-white{
    background-image: url('../image/furniture/chair-white.png');
}
.info-departamento.mesa-vidro{
    background-image: url('../image/furniture/mesa-vidro.png');
}
.info-departamento.table-chair{
    background-image: url('../image/furniture/table-chair.png');
}
.info-departamento.table-chair2{
    background-image: url('../image/furniture/table-chair2.png');
}
.info-departamento.table{
    background-image: url('../image/furniture/table.png');
}

.categoria .categoria-item img{
    width: 100%;
}

/*.categoria*/

/*Sobre*/
#sobre{
    margin-bottom: 50px;
}
#sobre .text-sobre{
    width: 75%;
    margin: 0 auto;
}
#sobre h3{
    font-size: 40px;
    margin: 70px 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #ff0000;
    font-weight: 300;
}
#sobre p{
    margin-bottom: 20px;
    text-align: justify;
    font-weight: 300;
}
/*.Sobre*/

/*Cadastro*/
#cadastro .form-cadastro{
    width: 50%;
    margin: 0 auto;
}
/**/
/*login*/
#login .form-login{
    width: 50%;
    margin: 0 auto;
}
/**/
/*formulários*/
.form-search button{
    background: rgb(255,117,24, 0.7);
    border: none;
    padding: 6px;
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
}

.form-search input{
       width: 48.9%;
       height: 24px;
       padding: 0 15px;
       border: 1px solid;
       border-color: rgba(200, 200, 200, 0.8);
       border-radius: 5px;
       box-shadow: none;
}

.form-group{
    margin-bottom: 15px;
}

.form-group input{
       width: 48.9%;
       height: 30px;
       padding: 0 15px;
       border: 1px solid;
       border-color: rgba(200, 200, 200, 0.8);
       border-radius: 5px;
       box-shadow: none;
}
.form-group textarea{
    width: 100%;
    min-height: 160px;
    padding: 10px 15px;
    border: 1px solid;
    border-color: rgba(200, 200, 200, 0.8);
    border-radius: 5px;
    box-shadow: none;
}
.form-group input.width-full{
    width: 100%
}

.btn-action-form{
    width: 100%;
    text-align: center;
}

.btn-action-form button, .btn-action-form a{
    background: rgb(255,117,24, 0.7);
    border: none;
    padding: 10px;
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}

.btn-action-form a{
    background: rgb(0,0,255, 0.7);
}

.title-form h3{
    font-weight: 300;
    color: #ff0000;
    margin-bottom: 5px;
    text-transform: uppercase;
}
/**/
footer{
    margin-top: 70px;
    height: 70px;
    background: rgba(0, 0, 0, 0.9);
    font-weight: 700;
}
footer h3{
    font-size: 20px;
    
    color: #fff;
}
/**/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


/* vitrines */
.responsive-slider button{
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 15px !important;
    width: 30px !important;
    height: 30px !important;
    z-index: 9999 !important;
}
.responsive-slider button:hover{
    background-color: rgba(0, 0, 0, 1) !important;
}
.responsive-slider button.slick-prev {
    left: -5px !important;
}
.responsive-slider button.slick-next{
    right: -5px !important;
}
@media only screen and (max-width: 1199px) {
    .container {
        max-width: 1140px;
    }
 }
 @media only screen and (max-width: 991px) { 
    .container {
        max-width: 960px;
    }

    .menu-top-item{
        margin-left: 15px;
    }
    .banner-video #player {
        margin-top: -25%;
    }
    .categoria .categoria-item {
        height: 200px;
    }

    .menu-top-item a{
        font-size: 15px;
    }
}
@media only screen and (max-width: 767px) { 
    .container {
        max-width: 720px;
    }
    .banner-video #player {
        margin-top: -20%;
    }
    .menu-top-item a{
        font-size: 12px;
    }
}
@media only screen and (max-width: 575px) { 
    .container {
        max-width: 540px;
    }
    .nav-top.large {
        height: 70.333px;
    }

    .nav-top h1 {
        width: 100px !important;
    }
    #logo img {
        width: 100%;
    }
    .nav-top h1 img {
        height: auto !important;
        margin-left: 0 !important;
    }
 }
 @media only screen and (max-width: 369px) { 
    body{
        padding-top: 70px;
    }
    .container {
        max-width: 360px;
    }

    /*---- topo mobile ----*/
    /*logo mobile*/
    .nav-top{
        height: 70px;
    }

    .nav-top h1{
        margin: 5px 0;
        line-height: 0;
        width: 68px;
        overflow: hidden;
    }
    .nav-top h1 img{
        height: 60px;
        margin-left: -16px;
    }

    /*menu mobile*/

    .menu-mobile ul{
        left: -480px;
    }
    #btn-call-menu-mobile{
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;

        transition: all 1s;
        -moz-transition: all 1s; /* Firefox 4 */
        -webkit-transition: all 1s; /* Safari and Chrome */
        -o-transition: all 1s; /* Opera */
    }
    
    #btn-close-menu-mobile{
        position: absolute;
        right: 15px;
        top: 32px;
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        
        transition: all 1s;
        -moz-transition: all 1s; /* Firefox 4 */
        -webkit-transition: all 1s; /* Safari and Chrome */
        -o-transition: all 1s; /* Opera */
    }
    #btn-close-menu-mobile span{
        background: #FF7518;
        height: 4px;
        width: 100%;
        display: block;
        border-radius: 3px;    
        position: absolute;
    }
    #btn-close-menu-mobile .line-left{
        transform: rotate(40deg);
    }
    #btn-close-menu-mobile .line-right{
        transform: rotate(140deg);
    }

    #btn-call-menu-mobile span{
        background: #FF7518;
        height: 4px;
        width: 100%;
        display: block;
        margin-top: 4px;
        border-radius: 3px;
    }
    .menu-top-mobile{
        display: none;
    }

    /* banner */

    .banner-video {
        height: 30vh;
    }

    /*categoria*/
    #categoria {
        padding-top: 50px;
    }

    #categoria.titulo-pagina{
        padding-top: 0 !important; 
    }
    .categoria .categoria-item{
        width: 50%;
        height: 190px;
    }

    /*footer*/
    footer {
        height: 48px;
    }
    footer h3 {
        font-size: 14px;
    }
    .menu-mobile{
        position: fixed;
        width: 100%;
        z-index: 9999;
        background: rgba(255, 255,255, 0.93);;
        height: 100%;
        top: 0;
    }
    .menu-mobile ul{
        width: 100%;
        height: 100%;
        margin-top: 65px;
        text-align: center;
    }

    .menu-mobile .menu-top-item {
        margin-left: 0 !important;
        display: block;
        margin-bottom: 5px;
    }

    .menu-mobile .menu-top-item a {
        font-size: 17px;
        font-weight: bold;
        color: #FF7518;
    }

    #categoria h3 {
        font-size: 30px;
    }
    .titulo-departamento:hover h5 {
        font-size: 25px !important;
    }
    .nav-top.small {
        height: 60.333px;
    }
    .nav-top.small img {
        width: 80.667px !important;
    }

    #login .form-login, #cadastro .form-cadastro {
        width: 100%;
    }

    .breadcrumb{
        font-size: 12px !important;
    }
 }